extends layout

block scripts
  script(src='/js/jquery.min.js')
  script(src='/js/index.js')

  script(src='/js/speak.js')
  script(src='/js/hear.js')
  script(src='/js/levenshtein.js')
  script(src='/js/score.js')
  script(src='/js/differ.js')

block content
  header
    .left
      a(href='/')
        img.logo(src='/img/logo.png')
    .right
      h4.name
      img.profilePhoto
  .page.login
    .content
      .modal
        img.logo(src='/img/logo.png')
        h3.subtitle You don't know a language until you speak it.
        button.signinButton Sign in with LinkedIn
  .page.home
    .content
      ul.languages
        li.languageArea
          button.languageButton.en
            .languageBox en
        li.languageArea
          button.languageButton.es
            .languageBox es
        li.languageArea
          button.languageButton.fr
            .languageBox fr
        li.languageArea
          button.languageButton.zh
            .languageBox zh
  .page.game
    .content
      .gameArea
        .topHalf
          .fromBottom
            p.text 猫
        .bottomHalf
          button.bigbutton
            .icon
      .scoreBar
  .page.leaderboard
