extends layout

block scripts
  script(src='/js/jquery.min.js')
  script(src='/js/index.js')

block content
  header
    .left
      img.logo(src='img/logo.png')
      h2 Speekr
    .right
      h4 Grant
      img.profilePhoto(src='img/profile')
  .content.login
    .modal
      img.logo(src='img/logo.png')
      h1.title Speekr
      h3.subtitle Welcome to the future
      button Sign in with LinkedIn
  .content.home
    ul
      li es
      li en
      li zh
      li fr
  .content.game
