extends layout

block scripts
  script(src='/js/jquery.min.js')
  script(src='/js/index.js')

  script(src='/js/speak.js')

block content
  header
    .left
      img.logo(src='img/logo.png')
      h2 Speekr
    .right
      h4 Grant
      img.profilePhoto(src='img/profile')
  .page.login
    .content
      .modal
        img.logo(src='img/logo.png')
        h1.title Speekr
        h3.subtitle Welcome to the future
        button.signinButton Sign in with LinkedIn
  .page.home
    .content
      ul.languages
        li.languageArea
          button.languageButton
            .languageBox.es es
        li.languageArea
          button.languageButton
            .languageBox.en en
        li.languageArea
          button.languageButton
            .languageBox.zh zh
        li.languageArea
          button.languageButton
            .languageBox.fr fr
  .page.game
