//- Includes all mixins
//- include /mixins/index.jade

doctype html
html
  head
    title Speekr
    link(rel='stylesheet', href='/css/index.css')

    script(src='platform/platform.js')

    link(rel='import' href='/core-elements/core-elements.html')
    link(rel='import' href='/core-ajax/core-ajax.html')

    body
      block content