//- Includes all mixins
//- include /mixins/index.jade

doctype html
html
  head
    title Speekr
    link(rel='stylesheet', href='/css/style.css')
    link(rel='import' href='components/core-elements/core-elements.html')
    body
      block content