//- Includes all mixins
//- include /mixins/index.jade

doctype html
html
  head
    title Speekr
    link(rel='stylesheet', href='/css/index.css')
    link(href="http://fonts.googleapis.com/css?family=RobotoDraft:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet" type="text/css")

    body
      block content