// RESET CSS
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video
  margin 0
  padding 0
  border 0
  font-size 100%
  font inherit
  vertical-align baseline

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section
  display block

body
  line-height 1

ol, ul
  list-style none

blockquote, q
  quotes none

table
  border-collapse collapse
  border-spacing 0

// END RESET CSS

body
  background-color #d24944
  font-family RobotoDraft
  font-weight 300
  color white

// Login

.content.login
  .modal
    modalWidth = 400px
    modalHeight = 300px
    position absolute
    left 50%
    top 50%
    margin-left -(modalWidth/2)
    margin-top -(modalHeight/2)
    width modalWidth
    height modalHeight

    text-align center

    .logo
      margin-bottom 50px

    .title
      font-size 60px
      margin-bottom 40px

    .subtitle
      font-size 30px
      margin-bottom 30px

// Home

// Game

// Init CSS
header
  display none
.content
  & .home
    display none
  & .game
    display none
