@import 'reset'

bgColor = #d24944

shadowHeight = 3px
shadowDarkenAmount = 30%
highlightAmount = 20%
transitionSpeed = 300ms

button(color)
  cursor pointer
  transition background-color transitionSpeed, box-shadow transitionSpeed, margin transitionSpeed
  background-color color
  box-shadow 0 shadowHeight 0 darken(color, shadowDarkenAmount)
  &:hover
    if color != 'transparent'
      background-color lighten(color, highlightAmount)
    box-shadow 0 shadowHeight 0 color
    margin-top shadowHeight

  box-shadow 0px shadowHeight*2 0 0 darken(color, shadowDarkenAmount)

html, body, .page, .content
  height 100%

body
  font-family RobotoDraft
  font-weight 300
  color white

headerHeight = 50px

.page
  position: absolute
  top 0
  left 0
  width 100%
  height 100%

.content
  position: absolute
  width 100%

// Login
.page.login
  .content
    background-color bgColor
    .modal
      modalWidth = 400px
      modalHeight = 300px
      position absolute
      left 50%
      top 50%
      margin-left -(modalWidth/2)
      margin-top -(modalHeight/2)
      width modalWidth
      height modalHeight

      text-align center

      .logo
        margin-bottom 50px
      .title
        font-size 60px
        margin-bottom 40px
      .subtitle
        font-size 30px
        margin-bottom 30px
      .signinButton
        padding 20px
        border-radius 10px
        button(#f3d392)

// Home
.page.home
  z-index 200
  .curtain
    position: absolute
    width: 50%
    height 100%
    overflow: hidden
    .content
      width: 200%
  .content
    background-color bgColor
    .languages
      margin 0 auto
      padding-top headerHeight
      max-width 400px
      .languageArea
        width 50%
        height 200px
        overflow: hidden
        display: inline-block
        .languageButton
          text-align: center
          padding 20%
          width 100%
          height 100%
          .languageBox
            overflow: hidden
            width 100%
            height 100%
            border-radius 10%
            padding 40px 30px
            font-size 40px
            color white
            vertical-align bottom
            &.es
              color rgb(97, 97, 97)
              button(rgb(29, 233, 182))
            &.en
              button(rgb(82, 100, 174))
            &.fr
              color rgb(97, 97, 97)
              button(rgb(255, 235, 41))
            &.zh
              button(rgb(3, 169, 244))

// Game
.page.game
  z-index 100
  &:not(.transitionsDisabled)
    transition transform 1s
  .content
    background-color blue
    .speak
      width 50px
      height 50px
      border-radius 50%
      background-color white
      border 1px solid #999
      transition background-color transitionSpeed
      box-shadow 0 2px 5px 0 rgba(0, 0, 0, 0.26)
      cursor pointer
      outline none
      &:hover
        background-color #eee
      .icon
        opacity 0.3
        background url("data:image/gif;base64,R0lGODlhHAAmAKIHAKqqqsvLy0dHR/b29ouLi+Tk5AAAAP///yH5BAEAAAcALAAAAAAcACYAAAOueLo8IMYIMJi9DcYtKv6KtnHgB4yoAZSXmEqs9aIxM4/1cm+5ske9w88QHBZ/x13ytpw1X89UlIYZeYRIxWBWWLhSgkVhJFopTjfzAS0hkLyzMDxCCIy62q/kOt4EDiJyCw8RExaBZyMEOW4bai5qII2FDH0ceBcFX5gKdigCAXgFhCh/F55DI6YYmqkSqx8DkzcEVywOAi65FEE2PL0XOMAyv8M6xcZYQMk+yB8JADs=") no-repeat center
        background-size 20px 25px
        margin 0 auto
        width 20px
        height 25px

// Init CSS

header
  display none
.page.home, .page.game
  display none